---
title: Pochour.com – Parmi les meilleures sources de nouvelles de moi en retard
---

<% blog.articles.each do |article| %>
<section data-panel="<%= article.slug %>"<%= 'class="text"' if article.data['is_text'] %>>
  <div class="info">
    <time datetime="<%= article.date.strftime("%Y-%m-%d") %>2013-10-28"><%= I18n.localize(article.date, format: "%-d %B %Y") %></time><% unless article.data['description'].nil? %><span class="description">
        <%= article.data['description'] %>
      <% unless article.data['counter'].nil? %>
        <span class="counter"><%= article.data['counter'] %></span>
      <% end %>
    </span>
    <% end %>
  </div>
  <% unless article.body.empty? %>
    <div class="body">
      <%= article.body %>
    </div>
  <% end %>
</section>
<% end %>

<a href="http://musee.pochour.com/" id="vieux">Non, je veux l’ancienne affaire</a>
